body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
  margin: 0;
  flex-direction: column;
}
canvas {
  border: 1px solid #fff;
}
.controls {
  margin-top: 10px;
}
button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}
